.footer {
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  
}

.left-section {
  padding: 10px;
  font-size: 12px;
  
}

.middle-section {
  padding: 10px;
  font-size: 12px;
}

.right-section {
  padding: 10px;
  font-size: 12px;
}

.foot {
  /* color: red; */
  font-size: 15px;
}

.footer li {
  list-style-type: none;
}

.footer .left-section li,
.footer .right-section li,
.footer .middle-section li{
  padding: 8px;
}

.footer li:hover {
  cursor: pointer;
  transform: translateX(2px);
  color: #FF0266;
}

.footer li:active{
  color: #ccc;
}

.list-heading{
  padding: 8px;
  cursor: default;
  text-transform: uppercase;
  color: #FF0266;
}

.line {
  
  height: 1px;
  width: 90vw;
  background-color: #FF0266;
  border: none;
}
/* 
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .left-section {
    justify-content: center;
  }
  .middle-section {
    justify-content: center;
  }
  .right-section {
    justify-content: center;
  }
} */
