@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar{
    background-color: #212121;
    color:white;
    height: 60px;
    display: flex;
    
}
.leftside{
flex: 50%;
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 10px;

}

.rightside{
   
    flex:50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.links a:hover,
.links a:active{
    cursor: pointer;
    text-decoration: underline;
    color: #fcde67;
    font-weight: 600;
}


.cart-image{
    width: 1.5em;
    height: 1.5em;
}

.hamburger-image{
    width: 1.5em;
    height: 1.5em;
    display: none;
}

.hamburger-image:hover{
    cursor: pointer;
}

.rightsidelarge{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color:  #FF0266;
}


@media screen and (max-width:600px) {
    /* .links a{
        display: none;
    } */
    .rightside{
        display: none;
    }
    .hamburger-image{
        display: flex;
    }

    .rightsidelarge{
        position: absolute;
        top: 60px;
        width: 100%;
        background-color:#212121cb; 
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .rightsidelarge .links a{
        display: flex;
        /* align-self: center; */
    }

    .leftside{
        padding: 0 30px 0 20px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

}
