@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar{
    background-color: #212121;
    color:white;
    height: 4rem;
    display: flex;
    
}
.leftside{
flex: 50%;
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 10px;

}

.rightside{
   
    flex:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.links a{
    color: white;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

.links a:hover,
.links a:active,
.links a.active{
    cursor: pointer;
    text-decoration: underline;
    color: #FF0266;
    font-weight: 600;
}

/* .active{
    font-size: 50px;
 color: yellow;
} */
.cart-image{
    
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
}

.hamburger-image{
    width: 1.5em;
    height: 1.5em;
    display: none;
}

.hamburger-image:hover{
    cursor: pointer;
}

.rightsidelarge{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
}

.logo-text{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color:  #FF0266;
}


@media screen and (max-width:650px) {
    /* .links a{
        display: none;
    } */
    .rightside{
        display: none;
    }
    .hamburger-image{
        display: flex;
    }

    .rightsidelarge{
        position: absolute;
        top: 60px;
        width: 100%;
        background-color:#212121f3; 
        display: flex;
        flex-direction: column;
        line-height: 2rem;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .rightsidelarge .links a{
        display: flex;
        /* align-self: center; */
    }

    .leftside{
        padding: 0 30px 0 20px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

}

@media screen and (max-width:900px) {
    .links a{
        margin: 0 0 0 1rem;
    }
}
