@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital@0;1&display=swap');

.product-card{
    padding: 1rem;
    /* width: 12rem;
    margin: 1rem; */
    background-color: #f8f8f8;
    transition: transform .5s ease-in-out;
    text-align: center; 
    font-family: 'Poppins', sans-serif;
    z-index: 10;    
    border-radius: 2%;   
}

.product-image{
    width: 10rem;
    height: 10rem;
}
.product-name{
    font-weight: 700;
    color: #878787;
    font-size: small; 
}
.product-description{
    font-size: 16px;
}
.price,
.price::before{
    content: '$';
    color: #388e3c;
}


.product-card:hover,
.product-card:active{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 2px 8px #ff2066;
    /* border: 1px solid #ff2206; */
}



@media screen and (max-width:480px) {
    .product-card{
        margin: 20px 0 0 0;
        padding: .5rem;
        width: 60%;
    }
}

